
.beer__heading{
  font-size: 23px;
  color: rgb(19, 21, 107);
  margin-left: 15%;
  text-decoration: none;
}
.beer__image-card{
  /* border: 2px solid rgb(33, 35, 122); */
  background-color: #d4d6bb;
  width: 300px;
  height: 500px;
  /* margin-top: 10px; */
 
}
.beer__abv{
  margin-left: 15%;
  font-size: 15px;
}
